[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = ">=2.21.0"
cryptography = ">=35.0.0"

[requires]
python_version = "3.4"

[pipenv]
allow_prereleases = true